<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>The Big Picture - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script src="/js/InputUtils.js"></script>
        <script src="/js/ServerSide.js"></script>
        <script>
            const tab_list = ["main_screen", "register_screen"];
            $(function() {
                resizeLayout();
                window.onresize = function() {
                    resizeLayout();
                }
            });
            function resizeLayout() {
                const window_height = $(window).outerHeight();
                tab_list.forEach((tab)=> {
                    $("#" + tab).outerHeight(window_height);
                });
            }

            function tabMove(tabName) {
                tab_list.forEach((tab)=> {
                    $("#" + tab).hide();
                });

                $("#"+tabName).show();
                switch (tabName) {
                    case "main_screen":
                        break;
                    case "register_screen":
                        registerScreenInit();
                        break;
                }
                resizeLayout();
            }

            function registerScreenInit() {
                let date = new Date();
                const year = date.getFullYear();
                let month = '0' + date.getMonth()+1;
                if (month.length > 2)
                    month = month.substring(1);
                let day = '0' + date.getDate();
                if (day.length > 2)
                    day = day.substring(1);
                $("#transaction_ok_date").val(year + '-' + month + '-' + day);
            }

            async function registerSave() {
                var obj = {};
                for (let i = 0; i < $(".form-control").length; i++) {
                    const id = $(".form-control")[i].id;
                    obj[id] = $("#" + id).val();
                    if (id === "amount") {
                        obj[id] = $("#" + id).val().replaceAll(",", "").trim();
                    }
                }
                const response = await post("../register/registerSave",obj);

                if (!response.result) {
                    alert("전표 등록에 실패 하였습니다");
                } else {
                    alert("전표를 등록하였습니다");
                    registerInit();
                }
            }

            function registerInit() {
                for (let i = 0; i < $(".form-control").length; i++) {
                    const id = $(".form-control")[i].id;
                    if (id === "transaction_ok_date" || id === "item_id") {
                        continue;
                    }
                    $("#" + id).val("");
                }
            }
        </script>
    </head>
    <body>
        <div id="main_screen">

        </div>
        <div id="register_screen"  style="display: none; background: #dbdbdb">
            <div class="container">
                <div class="card">
                    <div class="card-header bme">
                        데이터입력
                    </div>
                    <div class="card-body">
                        <div class="bd-example">
                            <div class="mb-3">
                                <label for="transaction_ok_date" class="form-label bme">거래일</label>
                                <input type="date" class="form-control bme" id="transaction_ok_date" />
                            </div>
                            <div class="mb-3">
                                <label for="item_id" class="form-label bme">계정과목</label>
                                <select  class="form-control bme" id="item_id">
                                    <option class="bme" value="snacks_fee">간식비</option>
                                    <option class="bme" value="tr_fee">교통비</option>
                                    <option class="bme" value="eat_fee">식대</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="amount"  class="form-label bme">금액</label>
                                <input  class="form-control bme" id="amount" onkeyup="inputNumberFormat(this)">
                            </div>
                            <div class="mb-3">
                                <label for="comment" class="form-label bme">적요</label>
                                <textarea class="form-control bme" id="comment" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary bme" style="width: 120px; float: right;" type="submit" onclick="registerSave()">저장</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand bme" href="#!" onclick="tabMove('main_screen')">가게부 v01</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link bme" href="#!" onclick="tabMove('register_screen')">등록</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
