<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>The Big Picture - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script src="/js/InputUtils.js"></script>
        <script src="/js/ServerSide.js"></script>
        <script src="/js/register_screen.js"></script>
        <script src="/js/management_screen.js"></script>
        <script src="/js/setting.js"></script>
        <script src="/js/dashboard.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const tab_list = ["main_screen", "register_screen", "management_screen", "setting_screen","dashboard_screen"];
            $(function() {
                resizeLayout();
                window.onresize = function() {
                    resizeLayout();
                }
            });
            function resizeLayout() {
                const window_height = $(window).outerHeight();
                tab_list.forEach((tab)=> {
                    $("#" + tab).outerHeight(window_height);
                });
            }
            function tabMove(tabName) {
                tab_list.forEach((tab)=> {
                    $("#" + tab).hide();
                });

                $("#"+tabName).show();
                switch (tabName) {
                    case "main_screen":
                        break;
                    case "register_screen":
                        registerScreenInit();
                        break;

                    case "management_screen":
                        managementScreenInit()
                        break;

                    case "setting_screen":
                        settingScreenInit();
                        break;

                    case "dashboard_screen":
                        dashbaordScreenInit();
                        break;
                }
                resizeLayout();
            }
        </script>
    </head>
    <body>
        <!--메인 TAB-->
        <div id="main_screen">

        </div>
        <!--등록 TAB-->
        <div id="register_screen"  style="display: none; background: #dbdbdb">
            <div class="container">
                <div class="card">
                    <div class="card-header bme">
                        전표 입력
                    </div>
                    <div class="card-body">
                        <div class="bd-example">
                            <div class="mb-3">
                                <label for="transaction_ok_date" class="form-label bme">거래일</label>
                                <input type="date" class="reg form-control bme" id="transaction_ok_date" />
                            </div>
                            <div class="mb-3">
                                <label for="item_id" class="form-label bme">계정과목</label>
                                <select  class="reg form-control bme" id="item_id">

                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="amount"  class="form-label bme">금액</label>
                                <input  class="reg form-control bme" id="amount" onkeyup="inputNumberFormat(this)">
                            </div>
                            <div class="mb-3">
                                <label for="comment" class="form-label bme">적요</label>
                                <textarea class="reg form-control bme" id="comment" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary bme" style="width: 120px; float: right;" type="submit" onclick="registerSave()">저장</button>
                    </div>
                </div>
            </div>
        </div>
        <!--관리 TAB-->
        <div id="management_screen" class="bme" style="display: none; background: #dbdbdb">
            <div class="container">
                <div class="card">
                    <div class="card-header bme">
                        전표 관리
                    </div>
                    <div class="card-body">
                        <div class="row" style="height: 100px; background: #fff; padding-top: 5px;">
                            <div class="col-6">
                                <label>시작일</label>
                                <input class="mg form-control" id="m_start_dt" type="date">
                            </div>
                            <div class="col-6">
                                <label>종료일</label>
                                <input class="mg form-control" id="m_end_dt" type="date">
                            </div>
                        </div>
                        <div class="row" style="height: 100px; background: #fff">
                            <div class="col-6">
                                <label>검색조건</label>
                                <select class="mg form-control" id="m_search_gb">
                                    <option>해당없음</option>
                                    <option value="A">적요</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label>검색어</label>
                                <input class="mg form-control" id="m_search_txt" type="text">
                            </div>
                        </div>
                        <div class="row" style="background: #fff; height: 60px;">
                            <div class="col-6">
                                <button type="button" style="width: 100%" onclick="mg_excelDownload()" class="btn btn-outline-primary">엑셀 다운로드</button>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-sm-12">
                                <button type="button" class="btn btn-outline-success" style="width: 100%" onclick="m_doSearch()">검 색</button>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; padding-top: 22px;">
                            <div>
                                <table class="table table-hover" style="background: #fff; text-align: center;">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col">거래일</th>
                                        <th scope="col">계정과목</th>
                                        <th scope="col">금액</th>
                                        <th scope="col">도구</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div style="height: 400px;overflow-y: auto;">
                                <table class="table table-hover"  style="text-align: center;">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                    </colgroup>
                                    <tbody id="mg_table">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="mg_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bme">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">전표 상세</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" id="mg_modal_seq">
                            <div class="mb-3">
                                <label for="mg_modal_tr_date" class="col-form-label">거래일:</label>
                                <input type="text" class="form-control" disabled id="mg_modal_tr_date">
                            </div>
                            <div class="mb-3">
                                <label for="mg_modal_reg_date" class="col-form-label">등록일:</label>
                                <input type="text" class="form-control" disabled id="mg_modal_reg_date">
                            </div>
                            <div class="mb-3">
                                <label for="mg_modal_item_id" class="col-form-label">계정과목:</label>
                                <select class="form-control" id="mg_modal_item_id">

                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="mg_modal_amount" class="col-form-label">금액:</label>
                                <input type="text" class="form-control" onkeyup="inputNumberFormat(this)" id="mg_modal_amount">
                            </div>
                            <div class="mb-3">
                                <label for="mg_modal_comment" class="col-form-label">적요:</label>
                                <textarea class="form-control" id="mg_modal_comment"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="mg_close" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" onclick="mg_update()">저장</button>
                        <button type="button" class="btn btn-danger" onclick="mg_delete()">삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <!--설정 TAB-->
        <div id="setting_screen" style="background: #dbdbdb">
            <div class="container">
                <div class="card bme">
                    <div class="card-header bme">
                        계정과목 설정
                    </div>
                    <div class="card-body">
                        <div class="row" style="height: 100px; background: #fff">
                            <div class="col-6">
                                <label>검색조건</label>
                                <select class="sg form-control" id="s_search_gb">
                                    <option>해당없음</option>
                                    <option value="I">수입</option>
                                    <option value="O">지출</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label>검색어</label>
                                <input class="sg form-control" id="s_search_txt" type="text">
                            </div>
                        </div>
                        <div class="row" style="height: 100px; background: #fff">
                            <div class="col-6">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#s_modal" class="btn btn-outline-primary" onclick="s_modal_init()" style="width: 100%" >추 가</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-success" style="width: 100%" onclick="s_doSearch()">검 색</button>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; padding-top: 22px;">
                            <div>
                                <table class="table table-hover" style="background: #fff; text-align: center;">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col">계정과목</th>
                                        <th scope="col">구분1</th>
                                        <th scope="col">구분2</th>
                                        <th scope="col">도구</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div style="height: 400px;overflow-y: auto;">
                                <table class="table table-hover"  style="text-align: center;">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="25%">
                                    </colgroup>
                                    <tbody id="s_table">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="s_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bme">
                    <div class="modal-header">
                        <h5 class="modal-title" id="s_modal_title">계정과목 등록</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" id="s_modal_seq">
                            <div class="mb-3">
                                <label for="s_modal_item_title" class="col-form-label">계정과목:</label>
                                <input type="text" class="form-control" id="s_modal_item_title">
                                <input type="hidden" id="s_modal_item_id">
                            </div>
                            <div class="mb-3">
                                <label for="s_modal_trad_cd" class="col-form-label">수입/지출:</label>
                                <select class="form-control" id="s_modal_trad_cd">
                                    <option value="I">수입</option>
                                    <option value="O">지출</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="s_modal_close" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" onclick="s_doSave()">저장</button>
                        <button type="button" class="btn btn-danger" onclick="s_delete()">삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- dashboard TAB -->
        <div id="dashboard_screen" style="background: #dbdbdb">
            <div class="container">
                <div class="card bme">
                    <div class="card-header bme">
                        Dashboard
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a id="chartTab_a" class="nav-link active" aria-current="page" href="#" onclick="dashboard_tab()">계정별</a>
                            </li>
                            <li class="nav-item">
                                <a id="tableTab_a" class="nav-link" href="#" onclick="dashboard_tab(true)">총계</a>
                            </li>
                        </ul>
                        <div id="chartTab">
                            <div class="row" style="height: 100px; background: #fff; padding-top: 10px;">
                                <div class="col-6">
                                    <label>계정과목</label>
                                    <select id="ds_item_id" class="ds form-control">
                                        <option>해당없음</option>
                                        <option value="I">수입</option>
                                        <option value="O">지출</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label>월</label>
                                    <input id="ds_month" class="ds form-control" type="month">
                                </div>
                            </div>
                            <div class="row" style="height: 100px; background: #fff">
                                <div class="col-12">
                                    <button type="button" class="btn btn-outline-success" style="width: 100%" onclick="ds_getChartData()">검 색</button>
                                </div>
                            </div>
                            <div style="height: 300px;">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                        <div id="tableTab">
                            <div class="row" style="height: 100px; background: #fff; padding-top: 10px;">
                                <div class="col-6">
                                    <label>월</label>
                                    <input id="ds_tab2_month" onchange="ds_getAlldata()" class="ds form-control" type="month">
                                </div>
                            </div>
                            <div class="row" style="background: #fff; padding-top: 22px;">
                                <div class="col-6">
                                    <div>
                                        <table class="table table-hover" style="background: #fff; text-align: center;">
                                            <colgroup>
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th scope="col">계정과목</th>
                                                <th scope="col">금액</th>
                                                <th scope="col">수입</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div style="height: 300px;overflow-y: auto;">
                                        <table class="table table-hover"  style="text-align: center;">
                                            <colgroup>
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                            </colgroup>
                                            <tbody id="ds_i_table">

                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <table class="table table-hover"  style="text-align: center;">
                                            <colgroup>
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                            </colgroup>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td>합계</td>
                                                    <td id="i_sum"></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <table class="table table-hover" style="background: #fff; text-align: center;">
                                            <colgroup>
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th scope="col">계정과목</th>
                                                <th scope="col">금액</th>
                                                <th scope="col">지출</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div style="height: 300px;overflow-y: auto;">
                                        <table class="table table-hover"  style="text-align: center;">
                                            <colgroup>
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                            </colgroup>
                                            <tbody id="ds_o_table">

                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <table class="table table-hover"  style="text-align: center;">
                                            <colgroup>
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                            </colgroup>
                                            <tfoot>
                                            <tr>
                                                <td></td>
                                                <td>합계</td>
                                                <td id="o_sum"></td>
                                                <td></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand bme" href="#!" onclick="tabMove('main_screen')">가게부 v01</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link bme" href="#!" onclick="tabMove('register_screen')">등록</a></li>
                        <li class="nav-item active"><a class="nav-link bme" href="#!" onclick="tabMove('management_screen')">관리</a></li>
                        <li class="nav-item active"><a class="nav-link bme" href="#!" onclick="tabMove('setting_screen')">설정</a></li>
                        <li class="nav-item active"><a class="nav-link bme" href="#!" onclick="tabMove('dashboard_screen')">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
