<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kang.jae.goo.management.mapper.ManagementMapper">

    <select id="doSearch" parameterType="hashmap" resultType="hashmap">

        with item as
        (
            select
                seq as seq
                ,trade_cd as trade_cd
                ,title as title
                ,item_id as item_id
            from b_variation_items
                where
                    1=1
                    and user_id = #{user_id}
            union all
            select
                seq as seq
                ,trade_cd as trade_cd
                ,title as title
                ,item_id as item_id
            from b_fixed_items
        )
        select
             slip.seq as seq
            ,slip.item_id as itemId
            ,slip.title as title
            ,slip.amount as amount
            ,DATE_FORMAT(slip.transaction_ok_date, '%Y-%m-%d') as transactionOkDate
            ,slip.comment as comment
            ,DATE_FORMAT(slip.reg_dt, '%Y-%m-%d') as regDt
            ,slip.reg_id as regId
            ,sub.trade_cd as trade_cd
        from D_TRANSACTION_SLIP slip left outer join item sub on slip.item_id = sub.item_id
            where
                1=1
                and transaction_ok_date between #{m_start_dt} and #{m_end_dt}
                and user_id = #{user_id}
                <if test='m_search_gb eq "A"'>
                    and comment like '%${m_search_txt}%'
                </if>
    </select>

    <delete id="deleteItem" parameterType="hashmap">
        delete from d_transaction_slip where seq = #{seq}
    </delete>

    <update id="updateItem" parameterType="hashmap">
        update d_transaction_slip set
            amount = #{amount}
            ,comment = #{comment}
            ,item_id = #{item_id}
            ,mod_dt = now()
            ,mod_id = #{user_id}
            where
                seq = #{seq}
    </update>

    <select id="selectItemSetting" parameterType="hashmap" resultType="hashmap">
        select
            seq as seq
            ,trade_cd as trade_cd
            ,title as title
            ,item_id as item_id
        from b_variation_items
            where
            1=1
                and user_id = #{user_id}
        union all
        select
            seq as seq
            ,trade_cd as trade_cd
            ,title as title
            ,item_id as item_id
        from b_fixed_items
    </select>

</mapper>